Options +FollowSymlinks
RewriteEngine on
RewriteRule ^part/([^/]+)/section/([^/]+) /frontController.php?part=$1&section=$2 [NC]
RewriteRule ^part/([^/]+)                 /frontController.php?part=$1&section=default [NC]

